@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body
{
  height: 100vh;
    display: grid;
    place-content: center;
}
.container
{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}


.left
{
  background-image: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
  text-align: center;
  color: white;
  border-radius: 30px;
  padding: 20px 10px 10px 0px;
  width: 310px;
  height: 410px;
 
}

.yourresult
{
opacity: 70%;
font-family: 'Hanken Grotesk';
margin-bottom: 30px;
margin-top: 8px;
}

.circle
{
  background-image: linear-gradient(rgb(78, 33, 202), rgba(36, 33, 202, 0));
  border: none;
  border-radius: 100%; 
  margin: 20px 68px 20px 68px;
  padding-top: 2px;
  padding-bottom: 30px;

}

 h1{
  font-size: 60px;
  font-family: 'Hanken Grotesk';
  margin-bottom: 0px;
  padding-bottom: 0px; 
  
} 

.off
{
  opacity: 40%;
  margin-top: 0px;
  padding-top: 0px;
  
}

h2
{
 font-family: 'Hanken Grotesk';
 font-weight: 500;
 opacity: 86%;
 margin-bottom: 0px;
 padding-bottom: 0px;  
 font-size: 27px;
  
}

.rbottom
{
opacity: 70%;
font-family:'Hanken Grotesk' ;
font-weight:500 ;
font-size: 15px;
margin-top: 0px;
padding-top: 0px;
opacity: 60%;
margin-top: 0px;
}

.right
{
  
  font-size: 14px;
  background-color: white;
  height: 440px;
  width: 290px;
  justify-content: center; 
  padding-left: 40px;
  font-family: 'Hanken Grotesk';
  box-shadow: 3px 5px 35px hsl(0, 8%, 90%);
  border: none;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px; 

   
}

.top
{
 font-family: 'Hanken Grotesk';
 font-weight: 800;
 font-size: 20px;
 margin-bottom: 50px;

}




.first
{
  
  color:hsl(0, 100%, 67%);
  font-family:'Hanken Grotesk' ;
  font-weight: 800;
  
}

.second
{
  
  color:hsl(39, 100%, 56%);
  font-family:'Hanken Grotesk' ;
  font-weight: 800;
  
}

.third
{
  color: hsl(166, 100%, 37%);
  font-family:'Hanken Grotesk' ;
  font-weight: 800;
  
}

.fourth
{
  color: hsl(234, 85%, 45%);
  font-family:'Hanken Grotesk' ;
  font-weight: 800;
 
}

.row1
{
  background-color: hsl(0, 73%, 96%);
  border-radius: 5%;
  margin-right: 40px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 9px;
  font-size: 15px;
  
}


.row2
{
  background-color: hsl(39, 73%, 96%);
  border-radius: 5%;
  margin-right: 40px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 7px;
  font-size: 15px;
}

.row3
{
  background-color: hsl(166, 73%, 96%);
  border-radius: 5%;
  margin-right: 40px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 7px;
  font-size: 15px;

}

.row4
{
  background-color: hsl(234, 73%, 96%);
  border-radius: 5%;
  margin-right: 40px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0px;
  font-size: 15px;
  
} 

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


 .fi{
   padding-left: 90px; 
  font-family: Hanken Grotesk;
  font-weight: 800;
}

.fi1
{
  padding-left: 100px;
  font-family: Hanken Grotesk;
  font-weight: 800;
} 


.bg
{
  font-family: Hanken Grotesk;
  font-weight: 500;
  opacity: 75%;
}



button
{
  
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  width: 250px;
  border-radius: 25px;
 
  }

button:hover
{
  background-image: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
}