@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
.container
{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 700px;
}


.left
{
 background-image: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
 /* justify-content: center; */
 text-align: center;
  color: white;
  border-radius: 30px;
  padding: 20px;
  width: 275px;
  height: 380px;
 
  
}

h3
{
opacity: 75%;
font-family: 'Hanken Grotesk';
}

.circle
{
  background-image: linear-gradient(rgb(78, 33, 202), rgba(36, 33, 202, 0));
  border: none;
  border-radius: 100%; 
  margin: 20px 60px 20px 60px;
  padding-top: 2px;
  padding-bottom: 10px;
  
}

 h1{
  font-size: 50px;
  font-family: 'Hanken Grotesk';
  margin-bottom: 0px;
  padding-bottom: 0px; 
  
} 

.off
{
  opacity: 40%;
  margin-top: 0px;
  padding-top: 0px;
  
}

h2
{
 font-family: 'Hanken Grotesk';
 opacity: 86%;
 margin-bottom: 0px;
 padding-bottom: 0px; 
  
}

.rbottom
{
opacity: 70%;
font-family:'Hanken Grotesk' ;
font-weight:500 ;
font-size: 14px;
margin-top: 0px;
padding-top: 0px;
opacity: 70%;
}

.right
{
  
  font-size: 14px;
  background-color: white;
  min-height: 420px;
  min-width: 270px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  font-family: 'Hanken Grotesk';
  box-shadow: 5px 10px 8px hsl(0, 8%, 90%);
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;

   
}

.top
{
 font-family: 'Hanken Grotesk';
 font-weight: 800;
 padding: 20px 125px 5px 0px;
 margin-top: 0px;
}




.first
{
  
  color:hsl(0, 100%, 67%)
  
}

.second
{
  
  color:hsl(39, 100%, 56%);
  
}

.third
{
  color: hsl(166, 100%, 37%);
  
}

.fourth
{
  color: hsl(234, 85%, 45%);
 
}

.row1
{
  background-color: hsl(0, 73%, 96%);
  border-radius: 10%;
  margin-right: 30px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 7px;
}

.row2
{
  background-color: hsl(39, 73%, 96%);
  border-radius: 10%;
  margin-right: 30px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 7px;
}

.row3
{
  background-color: hsl(166, 73%, 96%);
  border-radius: 10%;
  margin-right: 30px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 7px;

}

.row4
{
  background-color: hsl(234, 73%, 96%);
  border-radius: 10%;
  margin-right: 30px;
  padding-left: 10px;
  position: relative;
  bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 0px;
  
}

/*.fi
{
  text-align: right;
  font-family: Hanken Grotesk;
  font-weight: 800;
  padding-left: 50px;  
  /* display: block;
  width: 30px; */
 
/* }
.bg
{
  padding-left: 100px;  */
 
  /* text-align: right;  */
/* justify-content: space-between;  */

/* padding-left: 200px; */
/* padding-top: 50px; */

 

.fi{
  padding-left: 120px;
  font-family: Hanken Grotesk;
  font-weight: 700;
}









button
{
  
  background-color: hsl(224, 30%, 27%);
  color: white;
  /* width: 100px; */
  padding: 8px 50px;
  border-radius: 50px;
  margin-right: 30px;
  margin-top: 0px;
  
}

button:hover
{
  background-image: linear-gradient(rgb(120, 87, 255), rgb(46, 43, 233));
}